<html>
<head>
<style>

div {
    width: 1000px;
    padding: 25px;
    border: 2px solid navy;
    margin: 25px;
}

body {background-color:lightgrey;}
h2   {color:blue;}
h3   {color:blue;}
p    {color:green;}
</style>
</head>
<body>

<div>
<h2>Alpha Blog Website</h2>    
<%= link_to 'Home', root_path %>  
<%= link_to 'About', about_path %>
</div>

<h3>Who We Are</h3>

<img src="/assets/event.png" width="275" height="183">
</body>
</html>