<html>
<head>
<style>

div {
    width: 1000px;
    padding: 25px;
    border: 2px solid navy;
    margin: 25px;
}



body {background-color:lightgrey;}
h1   {color:blue;}
p    {color:green;}
</style>
</head>
<body>

<div>
<h1>Welcome to Alpha Blog Website</h1>    
<%= link_to 'Home', root_path %>  
<%= link_to 'About', about_path %>
</div>

</body>
</html>
