<div class="jumbotron">
  <h1><%= image_tag "alphablogred.png", :size => "250x50" %></h1>
  <h4><strong></strong>Ruby on Rails Community</strong></h4><br/>
  <%= link_to "Sign up now", signup_path, class: "btn btn-danger btn-lg btn-xlarge" %>    
</div>